h1 {
  text-align: center;
}
body {
  font-family: "Inter", sans-serif;
}

code {
  font-size: 12pt;
}

.page {
  position: relative;
  min-height: 96vh;
}

.content {
  padding-bottom: 5rem;
}

.tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e19fba;
}

.tab button {
  width: 100%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #5c8fe2;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.footer {
  position: absolute;
  border: 1px solid #ccc;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}